.cell {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  color: #17161d;
  padding: 0em;
  min-width: 1.5em;
  min-height: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;
  width: auto;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
}

.alive {
  /*background-color: rgb(165, 216, 90);*/
  background-color: #17161d;
}

.dead {
  background-color: white;
}
