.game-controls {
  /*margin-top: 1em;*/
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 1em 0;

  .game-button {
    padding: 0.5em;
    margin: 0 0.5em;
    font-size: 1.5em;
    width: 4em;
  }
}
