.game-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .game-label {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0.5em 0em;
    font-size: 1.5em;
  }
}
