.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(6px + 2vmin);*/
  font-size: 16px;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-ui {
  margin-top: 1em;
  display: flex;
  align-self: center;
}

.game-label {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5em;
  font-size: 24px;
}

.game-button {
  padding: 0.5em;
  margin: 0 0.5em;
  font-size: 24px;
  width: 4em;
}

.board {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  color: black;
  padding: 0em;
  min-width: 1.5em;
  min-height: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.alive {
  /*background-color: rgb(165, 216, 90);*/
  background-color: black;
}

.dead {
  background-color: white;
}
