.app {
  text-align: center;
  background-color: #17161d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.back-button {
  padding: 0.5em;
  margin: 1em 0;
  font-size: 16px;
  width: 6em;
  align-self: flex-start;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-label {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5em;
  font-size: 24px;
}

.game-buttons {
  /*margin-top: 1em;*/
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.small-game-button {
  padding: 0.5em;
  margin: 0.5em 0.5em;
  font-size: 20px;
  width: 5em;
}

.game-button {
  padding: 0.5em;
  margin: 0 0.5em;
  font-size: 24px;
  width: 4em;
}

.game-inputs {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: center;
  align-items: center;
}

.input-label {
  font-size: 24px;
  margin: 0.5em 0.25em;
}

.input-field {
  padding: 0.25em;
  margin: 0.5em 0.25em;
  font-size: 24px;
  width: 2em;
  height: 1em;
}

.board {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  color: #17161d;
  padding: 0em;
  min-width: 1.5em;
  min-height: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.alive {
  /*background-color: rgb(165, 216, 90);*/
  background-color: #17161d;
}

.dead {
  background-color: white;
}
